*{
	list-style-type: none;
}
.twopath{
	height:773px;
	width:100%;
	background-color:#f6f5f4;
}
.wai{
	background-color: #ffffff;
	width: 100%;

}

#cover{
    font-size: 11px;
	height: 110px;
	width: 1180px;

}
#cover>span{
	height: 15px;
	color: #c8c69e;
	margin-top: 7px;
	margin-left: 66px;
	margin-bottom: 13px;
	float: left;
}
#cover>img{
	position: absolute;
	left: 66px;
	top: 40px;
}
.erji{
	position: absolute;
	right: 50px;
	top:39px;
}
.erji li{
	height: 40px;
	width: 85px;
	border: 1px #e6e5e2 solid;
	float: left;
	border-right: none;
}
.erji li p{
	color: #a89791;
	margin-top: 0;
	text-align: center;
}
.erji li img{
	height: 19px;
	width: 19px;
	margin-left: 33px;
	margin-top: 4px;
}
.erji .last{
	background-color: #ff4d04;
}
.erji .last p{
       font-size: 13px;
       float: right;
       margin-top: 14px;
       margin-right: 6px;
       color: #ffffff;
}
.erji .last img{
	margin-left: 6px;
	float: left;
	margin-top: 13px;
}
.topright{
	height: 30px;
	width: 730px;
	position: absolute;
	right: 85px;
	margin-top: 0;
	border:solid;
}
.topright li{
	width: 35px;
	float: left;
}

.right{
	height: 20px;
	position: absolute;
	right: 50px;
}
.right>a{
	float left;
	color: #999999;
	font-size: 11px;
	display: inline-block;
	margin-left: 18px;
}
.pp{
	display: inline-block;
	color: #fe6c00;
	margin-left: 8px;
	font-weight: bold;
	
}
.put{
	width: 500px;
	height: 27px;
	position: absolute;
	top:55px;
	left: 300px;
	border:3px #fe6c00 solid;
	font-size:11px;
	color: #999999;
}
.button{
	height: 35px;
	width: 85px;
	background-color: #fe6c00;
	position: absolute;
	top:55px;
	left: 800px;
	border:1px #fe6c00;
	font-size: 14px;
	color: #fff6ed;
}
.tofa{
	position: absolute;
	top: 95px;
	left: 305px; 
}
.tofa a{
	display: inline-block;
	height: 18px;
	float: left;
	border-right: 1px #ebe7e7 solid;
	text-align: center;
	line-height: 18px;
}
.twopath{
	width:100%;
	height:49px;
	background-color:#000000;
	
}
.twopath>a{
	display:inline-block;
	width:100px;
	text-align:center;
	line-height:49px;
	margin-left:15px;
	color:#ffffff;
	text-decoration:none;
	float:left;
}
.twopath>img{
	width:200px;
	display:inline-block;
	float:left;
}
.twopath .active{
	background-color:#fe0d4a;
	margin-left:50px;
}
.threepath{
	width:100%;
	height:778px;
	background-color:#f7f6f5;
	/*border: 1px solid;*/
}
.threevv{
	height:670px;
	margin-left:50px;
	/*border:1px solid red;*/
	position:relative;
}
.threevv>span{
	line-height:36px;
	font-size:12px;
}
.ziwei{
	width:978px;
	height:616px;
	padding-top:18px;
	padding-left:18px;
	background-color:#ffffff;
	float:top;
	
}

.baibai{
	float:left;
	width:410px;
	height:410px;
	border:1px #d0cdc7 solid;
}
.hanguo{
	width: 472px;
	height: 436px;
	position: absolute;
	right:270px;
	float: left;
	/*border:1px solid;*/
}
.hanguo>h4{
	margin-top: 0;
	margin-bottom: 3px;
}
.hanguo>p{
	line-height: 24px;
	color:#676660;
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 12.3px;
}

.hanguo>.sp1{
	display: block;
	width: 70px;
	font-size: 12px;
	text-align: center;
	float: left;
}
.hanguo>.sp2{
	display: block;
	width: 85px;
	text-align: center;
	font-size: 13px;
	color: #ff0754;
	float: left;
}
.hanguo>.sp3{
	font-size: 11px;
	text-decoration: line-through;
}
.hanguo>.sp4{
	width: 125px;
	height: 20px;
	display: block;
	float: left;
	text-align: center;
	font-size: 12px;
}
.hanguo>.div1{
	width: 63px;
	height: 20px;
	float: left;
	font-size: 11px;
	text-align: center;
	padding-top: 8px
}
.hanguo>#div2{
	cursor:pointer;
	width: 63px;
	height: 20px;
	float: left;
	font-size: 11px;
	text-align: center;
	padding-top: 8px
}
.hanguo>.div1{
	cursor:pointer;
	border:1px #fe0d4a solid;
	background:url(img/duigou.png) no-repeat 50px 15px;
}
.shuliang{
	width: 400px;
	height: 42px;
	position: absolute;
	top:270px;
}
.shuliang>.pp{
	display: block;
	float: left;
	width: 100px;
	padding-left: 15px;
	font-size: 12px;
	color:#000000;
	line-height: 28px;

}
.shuliang>.kk{
	cursor: pointer;
	display: block;
	width: 28px;
	height: 28px;
	border:1px #cecbc5 solid;
	float: left;
	text-align: center;
}
.shuliang>#inputput{
	display: block;
	width: 52px;
	height: 24px;
	float: left;
	text-align: center;
}
.shuliang>.aa{
	display: block;
	float: left;
	font-size: 12px;
	width: 90px;
	line-height: 28px;
	padding-left: 20px;
	text-align: center;
}
.hanguo>.bb{
	display: block;
	position: absolute;
	top:320px;
	left: 23px;
}
.hanguo>.cc{
	display: block;
	position: absolute;
	top:320px;
	left: 120px;
}
.hanguo>.dd{
	display: block;
	position: absolute;
	top:350px;
	left: 120px;
}
.hanguo>.lili{
	position: absolute;
	top: 380px;
	margin-left:15px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	border:none;
	cursor: pointer;
}
.hanguo>#lili1{
	border:1px #ff0754 solid;
	background-color: #ffffff;
	left: 10px;
	color:#ff0754;
}
.hanguo>#lili2{
	left: 170px;
	color:#ffffff;
	background-color: #ff0754;
}
.threevv>img{
	display:inline-block;
	position:absolute;
	top:36px;
	left:1005px;
}
.threepath>img{
	display:inline-block;
	margin-left:50px;
}
.liangge{
	width: 412px;
	height: 62px;
	position: absolute;
	top:470px;
}
.liangge>img{
	line-height: 64px;
	cursor: pointer;
}
#fangfang{
	width: 410px;
	height: 410px;
	display: none;
	overflow: hidden;
}
#fangfang>img{
	width: 800px;
	height: 800px;
}






.flour{
	width: 1135px;
	height: 185px;
	margin-left: 58px;
	padding-top: 20px;
	border-bottom: 1px #ebeae8 solid;
}
.zhinan{
	display: inline-block;
}
.zhinan>li{
    display: inline-block;
    float: left;
}
.zhinan li ul{
	width: 62px;
	padding-left:65px;
}
.zhinan li ul li{
	color: #666560;
	font-size: 11px;
	line-height: 24px;
	font-weight: bold;
}
.zhinan li ul p{
	font-size: 15px;
	font-weight: bold;
}
.five{
	text-align: center;
	padding-top: 12px;
}
.five p{
	color: #666560;
	font-size: 11px;
}
.guanyu a{
	width: 75px;
	display: inline-block;
	border-left: 1px #ebeae8 solid;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
#huihui{
	display: none;
	background-color: #dedcd8;
	opacity: 0.4;
	height:635px;
	width: 100%;
	position: fixed;
	top:0;
}
.ht{
	background-color: #ffffff;
	position: fixed;
	display: none;
	top:30%;
	left: 30%;
}
.ht>img{
	display: block;
	margin-top:30px;
}
.ht>button{
	width: 150px;
	height: 40px;
	margin-left:30px;
	border-radius: 5px;
}
#jj1{
	cursor: pointer;
	border:1px #ff5554 solid;
	color:#ff5554;
	background-color: #ffffff;
}
#jj2{
	cursor: pointer;
	background-color: #ff0754;
	color: #ffffff;
	border:1px #ff0754 solid;
}

/*放大镜*/
#slider{
	width:150px;
	height:150px;
	position:absolute;
	left:20px;top:55px;
	background:#777670;
	opacity:0.4;
	cursor: move;
	display:none; 
	filter:alpha(opacity=40);
}
#fangfang>img{
	position: absolute;
	top:0;
	left: 0;
}